* {
    margin: 0;
    /* padding: 0; */
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 700px;
    background-color: #FCF8F5;
}


a {
    text-decoration: none;
    color: rgb(34, 33, 33);
}

ul {
    list-style: none;
}

li:hover {
    color: brown;
    cursor: pointer;
}

#preheader {
    width: 100%;
    height: 1px;
}

.header {
    margin-top: 24px;
    height: 100px;
    width: 100%;
    display: flex;
    /* position: sticky;
    top: 0; */
    position: fixed;
    top: -25px;
    background-color: #FCF8F5;
    z-index: 1000;
}

.body {
    display: flex;
    flex-direction: column;
    z-index: -1;
}



.header-child {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.header-child ul {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#left {
    margin-left: -50px;
    margin-right: 80px;
}

/*     LOGO     */
#logo img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}



/*  Header Images */
.header-child>#profile_icon {
    height: 70px;
    width: 100px;
    margin-left: 15%;
    display: flex;
    align-self: center;
}

#login {
    margin-left: -90px;
    margin-top: 5px;
    color: brown;
}

#login:hover {
    color: rgb(168, 110, 110);
}

.header-child>.social-media {
    height: 22px;
    width: 22px;
    object-fit: cover;
    display: flex;
    align-self: center;
    margin-left: 20px;
}



/*               BODY            */

.body {
    display: flex;
    align-items: center;
}

.container {
    width: 60%;
    height: 450px;
    margin-top: 200px;
    background-color: #FCF8F5;
}

.inner {
    background-color: white;

}

.inner h1 {
    font-size: 60px;
    color: #130D4C;
    word-spacing: 8px;
    padding-top: 50px;
}

.inner #underline {
    text-decoration: 2px underline #130D4C;
    color: white;
    margin-top: 30px;
}

.inner p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
    word-spacing: 3.5px;
    padding-bottom: 100px;
}

.inner-image {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.inner-image img {
    width: 100%;
}

/*          FOOTER           */


.footer {
    width: 100%;
    height: 625px;
    background-color: #130D4C;
    display: flex;
    margin-top: 500px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 625px;
}

.left h1 {
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

.left p {
    margin-left: 100px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.left #phone-number {
    margin-top: 25px;
}

.left #email {
    margin-top: 20px;
    cursor: pointer;
}

.left .subscribe {
    margin-left: 100px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.subscribe h2 {
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: 'Playfair Display', serif;
}


.subscribe h5 {
    text-align: left;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    color: white;
}

.subscribe .submit {
    background-color: #FCCB96;
    display: flex;
}

.submit input {
    width: 100%;
    height: 50px;
    background-color: #130D4C;
    border: 3px solid #FCCB96;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
}

.submit input:focus {
    background-color: #544f82;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
}

.submit button {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    color: #130D4C;
    font-weight: bold;
    border: 3px solid #FCCB96;
    background-color: #FCCB96;
    transition: 0.5s;
}

.submit button:hover {
    background-color: #ffa74a;
    border: 3px solid #ffa74a;
    cursor: pointer;
}

.submit:hover input {
    border: 3px solid #ffa74a;
}

.left .social-media {
    margin-left: 100px;
    margin-top: 75px;
    display: flex;
    width: 200px;
    gap: 20px;
}

.social-media .icon {
    cursor: pointer;
    fill: white;
}

.social-media .icon img {
    width: 27px;
    object-fit: cover;
}


#vertical-line {
    width: 1px;
    height: 75%;
    background-color: #FCCB96;
    margin-top: 100px;
}

.right {
    display: flex;
    width: 50%;
    height: 625px;
    flex-direction: column;
}


.right-inner {
    margin-top: 140px;
    margin-left: 100px;
    height: 70%;
    width: 60%;
}

.right-inner h1 {
    color: white;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.right-inner-inner {
    width: 100%;
    height: 80%;
    margin-top: 25px;
}

.right-inner-inner .name {
    float: left;
}

.right-inner-inner .email {
    float: right;
}

.right-inner-inner .subject {
    clear: both;
    float: left;
    margin-top: 20px;
}

.right-inner-inner #subject {
    width: 404px;
    margin-top: 10px;
}

.right-inner-inner .message {
    clear: both;
    float: left;
    margin-top: 10px;
}

.right-inner-inner textarea {
    border: none;
    border-bottom: 1px solid #FCCB96;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    background-color: #130D4C;
    resize: none;
    margin-top: 10px;

}

.right-inner-inner textarea:hover {
    border-bottom: 2px solid #FCCB96;
}

.right-inner-inner textarea:focus {
    border-bottom: 2px solid #FCCB96;
}

.right-inner-inner span {
    font-size: 15px;
}

.right-inner-inner label {
    float: left;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.right-inner-inner input {
    border: none;
    border-bottom: 1px solid #FCCB96;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    background-color: #130D4C;
    margin-top: 10px;
}

.right-inner-inner input:hover {
    border-bottom: 2px solid #FCCB96;
}

.right-inner-inner input:focus {
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.right-inner-inner button {
    clear: both;
    float: right;
    margin-top: 20px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    width: 175px;
    height: 50px;
    color: #130D4C;
    font-weight: bold;
    border: 3px solid #FCCB96;
    background-color: #FCCB96;
    transition: 0.5s;
}

.right-inner-inner button:hover {
    background-color: #ffa74a;
    border: 3px solid #ffa74a;
    cursor: pointer;
}

.right #copyright {
    margin-top: 20px;
    color: white;
    clear: both;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
}